﻿<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="#">Administrator</a>
                </li>
                <li>My account</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Administrator section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="@Url.Action("ViewCustomers","Admin")"><i class="glyphicon glyphicon-list"></i>&nbsp;View Customers</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ItemManagement","Admin")"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Manage Items</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-search"></i> View Orders</a>
                        </li>
                        <li class="active">
                            <a href="@Url.Action("Index","Admin")"><i class="glyphicon glyphicon-user"></i>&nbsp; My account</a>
                        </li>

                        <li>
                            <a href="@Url.Action("LogOffUserPanel", "Account")"><i class="glyphicon glyphicon-log-out"></i>&nbsp; Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->
            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <div class="col-md-9">
            <div class="box">
                <h3>My account</h3>
                <p class="lead">Change your password here.</p>
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                   @Html.Partial("~/Views/Manage/ChangePassword.cshtml")
                }
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->

