﻿@model PagedList.IPagedList<RoleBasedAppAccess.Models.Item>
@using PagedList.Mvc;

<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="#">Administrator</a>
                </li>
                <li>View Items</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Administrator section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                                              
                        <li class="active">
                            <a href="@Url.Action("ItemManagement", "Admin")"><i class="glyphicon glyphicon-th-list"></i>&nbsp;View Items</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddItem", "Admin")"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add a New Item</a>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOffUserPanel", "Account")"><i class="glyphicon glyphicon-log-out"></i>&nbsp; Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->
            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <div class="col-md-9">
            <div class="box">
                <h3>List of Items</h3>
                <hr>


                @using (Html.BeginForm("ItemManagement", "Admin", FormMethod.Get))
                {
                    <p>
                        Find Item By Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Search" class="btn btn-info small " />
                    </p>
                }


                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Item Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="@item.ImagePath" alt="" style="width:100px;height:80px" class="img-responsive">
                                        </a>
                                    </td>
                                    <th>@Html.DisplayFor(modelItem => item.Name)</th>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                    
                                    <td>
                                        @Html.ActionLink("Add Image", "AddItemImage", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Admin", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "Admin", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ItemManagement",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
<!-- /#content -->


