﻿@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models
@{
   
    var showingInline = Model != null && Model == true;

    //option for inline view only
    var ui = "jquery".Equals(Request.Params["ui"]) ? UploadUI.JQueryUI : UploadUI.Bootstrap;
    var toggleUi = ui == UploadUI.Bootstrap ? "jquery" : "bootstrap";

    ////setting layout based on ui
    //Layout = "~/Views/Shared/" + (ui == UploadUI.Bootstrap ? "_MvcFileUploaderLayout.cshtml" : "_MvcFileUploaderLayout_jui.cshtml");
}
<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="#">Administrator</a>
                </li>
                <li>Manage User Info</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Administrator section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="@Url.Action("ViewCustomers","Admin")"><i class="glyphicon glyphicon-list"></i>&nbsp;View Customers</a>
                        </li>

                        <li>
                            <a href="#"><i class="glyphicon glyphicon-search"></i>&nbsp;View Orders</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Admin")"><i class="glyphicon glyphicon-user"></i>&nbsp;My account</a>
                        </li>

                        <li>
                            <a href="@Url.Action("LogOffUserPanel", "Account")"><i class="glyphicon glyphicon-log-out"></i>&nbsp;Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->
            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <div class="col-md-9">
            <div class="box">
                <h3>Manage Photos</h3>
                
                  @(
                            Html.MvcFileUpload()
                            .UploadAt(Url.Action("UploadFile"))
                            .UIStyle(ui)
                            .WithFileTypes(@"/(\.|\/)(jpe?g|png)$/i")
                            .WithMaxFileSize(5000000)
                            .AddFormField("entityId", "1234")
                            .RenderInline("_MvcFileupload")
                  )
                             
            </div>
        </div>
    </div>
</div>
