﻿
@*@model IEnumerable<RoleBasedAppAccess.Models.ApplicationUser>*@
@model PagedList.IPagedList<RoleBasedAppAccess.Models.ApplicationUser>
@using PagedList.Mvc;

<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="#">Administrator</a>
                </li>
                <li>View Customers</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Administrator section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="@Url.Action("ViewCustomers","Admin")"><i class="fa fa-list"></i>View Customers</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-heart"></i> View Orders</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Admin")"><i class="fa fa-user"></i> My account</a>
                        </li>

                        <li>
                            <a href="@Url.Action("LogOffUserPanel", "Account")"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->
            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <div class="col-md-9">
            <div class="box">
                <h3>List of Customers</h3>
                <hr>
                
                
                @using (Html.BeginForm("ViewCustomers", "Admin", FormMethod.Get))
                {
                    <p>
                        Find by User Email: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Search" class="btn btn-info small " />
                    </p>
                }
                

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model) { 
                            <tr>
                                <th>@Html.DisplayFor(modelItem => item.FirstName)</th>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>
                                    <span class="label label-info">Being prepared</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Upload", "ManageUserInfo", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                                </td>
                                <td>
                                    @Html.ActionLink("View", "ViewGallery", new { id = item.Id  }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("ViewCustomers",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
            </div>
        </div>
    
    </div>
    <!-- /.container -->
<!-- /#content -->

