﻿@{
    ViewBag.Title = "Confirm Email";
}
<div id="content">
    <div class="container">
        <div class="col-md-12">
            <h2>@ViewBag.Title.</h2>
            <div>
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "LoginUser", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
