﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div id="content">
    <div class="container">
        <div class="col-md-12">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
     </div>
   </div>
</div>

