﻿ .make_model_wrapper {
                width: 300px;
                float: left;
                margin-left: 5px;
            }

            .body_type_wrapper {
                width: 620px;
                float: left;
                margin-left: 10px;
                font-size: 13px;
            }

           
        #body_type {
            overflow: hidden;
            padding: 5px 0 5px 0px;
        }

            #body_type .auto {
                cursor: pointer;
                width: 100px;
                height: 100px;
                background: url(//production-assets0.autolist.com/assets/welcome/body_type_icons-3ca19904c61d393518133fa6bc6b1fb3.png) top left no-repeat #f7f7f7;
                margin: 8px 16px 8px 0;
                float: left;
                position: relative;
                transition: background-color .3s;
            }

                #body_type .auto:hover {
                    background-position-x: -100px;
                    border-color: #ccc;
                    background-color: #e7eff4;
                }

                #body_type .auto p {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    color: #3b637c;
                    width: 100%;
                    text-decoration: none;
                    margin-bottom: 9px;
                }

            #body_type #coupe {
                background-position: 0px -100px;
            }

            #body_type #convertible {
                background-position: 0px -200px;
            }

            #body_type #suv {
                background-position: 0px -300px;
            }

            #body_type #wagon {
                background-position: 0px -400px;
            }

            #body_type #hatchback {
                background-position: 0px -500px;
            }

            #body_type #pickup {
                background-position: 0px -600px;
            }

            #body_type #minivan {
                background-position: 0px -700px;
            }

            #body_type #hybrid {
                background-position: 0px -800px;
            }

            #body_type #luxury {
                background-position: 0px -900px;
            }

       