﻿@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<RoleBasedAppAccess.Models.Item>

<div class="index_slider">
    <div class="container">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li><img src="~/img/Cover-Unit_1.jpg" class="img-responsive" alt="" /></li>
                <li><img src="~/img/Cover-Unit_2.jpg" class="img-responsive" alt="" /></li>
                <li><img src="~/img/Cover-Unit_3.jpg" class="img-responsive" alt="" /></li>
            </ul>
        </div>
    </div>
</div>

<div class="content_top">
    <div class="container">
        <div class="grid_1">
            <div class="col-md-3">
                <div class="box2">
                    <ul class="list1">
                        <li><i class="lock"> </i></li>
                        <li class="list1_right"><p>Upto 5% Reward on your shipping</p></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box3">
                    <ul class="list1">
                        <li><i class="clock1"> </i></li>
                        <li class="list1_right"><p>Easy Extended Returned</p></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box4">
                    <ul class="list1">
                        <li><i class="vehicle"> </i></li>
                        <li class="list1_right"><p>Free Shipping on order over 99 Rs</p></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box5">
                    <ul class="list1">
                        <li><i class="dollar"> </i></li>
                        <li class="list1_right"><p>Delivery Schedule Spread Cheer Time</p></li>
                        
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="column_center">
            <h1>One of the most famous online chocolate store </h1>
            <h2>EDNA is one of the island leading chocolate company that sells chocolates</h2>
        </div>
       
        <div class="sellers_grid">
            <ul class="sellers">
                <li><i class="star"> </i></li>
                <li class="sellers_desc"><h2>Best Sellers</h2></li>              
            </ul>
        </div>
       
        <div class="grid_2">

            <ul id="productSlider">
                @foreach (var item in Model) {
                <li>
                    <img src="@item.ImagePath" class="img-responsive" />
                    <div class="grid-flex">
                        <h4>@item.Name </h4>
                        <p>Rs : @item.Price </p>
                        <div class="m_3">
                            <a href="#" class="link2">Add to Cart</a>
                        </div>
                        <div class="ticket"> </div>
                    </div>
                </li>
                }
                @*<li>
                    <img src="images/n2.jpg" class="img-responsive" /><div class="grid-flex">
                        <h4>Contrary to popular </h4><p>589,90 $</p>
                        <div class="m_3"><a href="#" class="link2">Add to Cart</a></div>
                        <div class="ticket"> </div>
                    </div>
                </li>
                <li>
                    <img src="images/n3.jpg" class="img-responsive" /><div class="grid-flex">
                        <h4>Contrary to popular </h4><p>589,90 $</p>
                        <div class="m_3"><a href="#" class="link2">Add to Cart</a></div>
                        <div class="ticket"> </div>
                    </div>
                </li>*@
                @*<li>
                    <img src="images/n4.jpg" class="img-responsive" /><div class="grid-flex">
                        <h4>Contrary to popular </h4><p>589,90 $</p>
                        <div class="m_3"><a href="#" class="link2">Add to Cart</a></div>
                        <div class="ticket"> </div>
                    </div>
                </li>
                <li>
                    <img src="images/n5.jpg" class="img-responsive" /><div class="grid-flex">
                        <h4>Contrary to popular </h4><p>589,90 $</p>
                        <div class="m_3"><a href="#" class="link2">Add to Cart</a></div>
                        <div class="ticket"> </div>
                    </div>
                </li>*@
            </ul>

        </div>
        </div>

    </div>

