﻿@{
    ViewBag.Title = "SearchYourDreamVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="container">

        <div class="col-md-12">
            
                @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><i class="fa fa-search"></i>&nbsp;&nbsp;Search Your Dream Vehicle on Live Auction</h2>
                </div>
                <div class="modal-body">*@
                <div id="tauction">
                    <object type="text/html" id="auction" data="http://jpnauction.com/aj_neo?classic" onclick="open('http://jpnauction.com/aj_neo?classic')" width="900px" height="600px" style="overflow:visible; padding-top:-60px;"></object>
                </div>
                @*</div>*@

            @*<iframe src="http://jpnauction.com/aj_neo?classic" id="auction" width="100%"
                    height="1000" frameborder="0"></iframe>*@
               
        </div>
    </div>
</div>
