﻿<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>My account</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Customer section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="@Url.Action("ViewGallery", "Manage")"><i class="fa fa-list"></i> View Gallery</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-heart"></i> My wishlist</a>
                        </li>
                        <li class="active">
                            <a href="@Url.Action("Index", "Manage")"><i class="fa fa-user"></i> My account</a>
                        </li>

                        <li>
                            <a href="@Url.Action("LogOffUserPanel", "Account")"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->
            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <div class="col-md-9">
            <div class="box">
                <h3>My account</h3>
                <p class="lead">Change your password here.</p>
                 @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                 {
                 @Html.Partial("ChangePassword");
                 }
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->