﻿@model RoleBasedAppAccess.Models.CustomerImageViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="#">User</a>
                </li>
                <li>View Gallery</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">User section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="@Url.Action("ViewGallery", "Manage")"><i class="fa fa-list"></i> View Gallery</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-heart"></i> My wishlist</a>
                        </li>
                        <li >
                            <a href="@Url.Action("Index", "Manage")"><i class="fa fa-user"></i> My account</a>
                        </li>

                        <li>
                            <a href="@Url.Action("LogOffUserPanel", "Account")"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->
            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <div class="col-md-9">

            <div class="box">
                <h3>View Gallery</h3>

                <div class="product-slider">
                    @foreach (var image in Model.Images)
                    {
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="frontImage">
                                            <a href="@Url.Content(image)" title="" data-gallery>
                                                <img src="@Url.Content(image)" alt="" style="width:100px;height:80px" class="img-responsive">
                                            </a>
                                        </div>
                                        @*<div class="back">
                                            <a href="#">
                                                <img src="@Url.Content(image)" alt="" style="width:100px;height:80px" class="img-responsive">
                                            </a>
                                        </div>*@
                                    </div>
                                </div>
                                <a href="#" class="invisible">
                                    <img src="@Url.Content(image)" style="width:100px;height:80px" alt="" class="img-responsive">
                                </a>
                                <br />
                                @*<div class="text">
                                    <p>@Html.ActionLink("Delete", "DeleteUploadedImage", new { fileUrl = image }, new { @class = "btn btn-danger btn-sm" })</p>
                                </div>*@
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                    }
                </div>
                <!-- /.product-slider -->
            </div>
        </div>
    </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next" style="max-height: 500px; min-height: 400px;"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>