﻿@model IEnumerable<RoleBasedAppAccess.Models.Item>
<div id="exampleModal">
    @*<div class="container">
        <div class="row">*@
    <div class="col-xs-12">
        <div class="panel panel-danger ">
            <div class="panel-heading ">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                        </div>
                        @if (Convert.ToInt32(Session["cartCount"]) > 0)
                        {
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-warning btn-sm btn-block">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-sm btn-block">
                                    <span class="glyphicon glyphicon-star-empty"></span> Empty Cart
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="panel-body cartList">
                @foreach (var Item in Model)
                {
                    <div class="row">

                        <div class="col-xs-2 List">
                            <img class="img-responsive" src=@Item.ImagePath>
                        </div>
                        <div class="col-xs-4 List">
                            <h4 class="product-name"><strong>@Item.Name</strong></h4>
                            <h4><small>@Item.Description</small></h4>
                        </div>
                        <div class="col-xs-6 ">
                            <div class="col-xs-6 text-right">
                                <h6><strong>@String.Format("{0:N}", @Item.Price)<span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-xs-4 List">
                                <input type="text" class="form-control input-sm" value="1">
                            </div>
                            <div class="col-xs-2 List">
                                <button type="button" id="@Item.Id" class=" btn btn-link btn-xs cartDel">
                                    <span class="glyphicon glyphicon-trash"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
                <hr>
                @if (Convert.ToInt32(Session["cartCount"]) > 0)
                {
                    <div class="row">
                        <div class="text-center">
                            <div class="col-xs-9">
                                <h6 class="text-right">Added items?</h6>
                            </div>
                            <div class="col-xs-3">
                                <button type="button" class="btn btn-default btn-sm btn-block">
                                    Update cart
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @*@if (Convert.ToInt32(Session["cartCount"]) > 0) {*@
            <div class="panel-footer">
                <div class="row text-center">
                      @if (Convert.ToInt32(Session["cartCount"]) > 0) { 
                    <div class="col-xs-6">
                        <h4 class="text-right">Total <strong>@ViewBag.CartTotal</strong></h4>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-danger btn-block">
                            Checkout
                        </button>
                    </div>
                        }
                    <div class="col-xs-3">
                        <button type="button" class=" btn btn-success btn-block cartClose">
                            Close
                        </button>
                    </div>
                </div>
            </div>
            @* }*@
        </div>
    </div>
</div>

    @*</div>
</div>*@

