﻿@model IEnumerable<RoleBasedAppAccess.Models.Item>
<div id="ItemList">
<div class="container">
    <div class="product-slider">
        @foreach (var Item in Model)
        {
            <div class="item" id="@Item.Id">
                <div class="product">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a href="#">
                                    <img src=@Item.ImagePath alt="" class="img-responsive" style="width:128px;height:112px">
                                </a>
                            </div>
                            <div class="back">
                                <a href="#">
                                    <img src=@Item.ImagePath alt="" class="img-responsive" style="width:128px;height:112px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="invisible">
                        <img src="img/product1.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="text progress-demo">
                        <h3><a href="#">@Item.Name</a></h3>
                        <p class="price">$ : @Item.Price</p>
                        <p class="buttons">
                            <button class="btn btn-success ladda-button" data-style="zoom-out"><span class="ladda-label">View More</span></button>
                            <button id="@Item.Id" class="btn btn-danger ladda-button divAddCart" data-style="expand-right"><span class="ladda-label"><i class="fa fa-shopping-cart"></i>Add To Cart</span></button>
                            @*<a href="#" id="@Item.Id" class="btn btn-danger divAddCart"><i class="fa fa-shopping-cart"></i>Add To Cart</a>*@
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        }
    </div>
    <!-- /.product-slider -->
</div>
<!-- /.container -->
</div>


