﻿@model IEnumerable<RoleBasedAppAccess.Models.Item>
<div class="container">
    <div class="product-slider">
        @foreach (var Item in Model)
        {
            <div class="item" id="@Item.Id">
                <div class="product">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a href="#">
                                    <img src=@Item.ImagePath alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="back">
                                <a href="#">
                                    <img src=@Item.ImagePath alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="invisible">
                        <img src="img/product1.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="text">
                        <h3><a href="#">@Item.Name</a></h3>
                        <p class="price">$ : @Item.Price</p>
                        <p class="buttons">
                            <a href="#" class="btn btn-default">View detail</a>
                            <a href="#" id="@Item.Id" class="btn btn-warning divAddCart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
        }
    </div>
    <!-- /.product-slider -->
</div>
<!-- /.container -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        
        $('.divAddCart').on('click', function () {
            var getItemId = $(this).attr('id');
            //var getUserName = $('.divName').html();
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: 'ShoppingCart/AddCart',
                data: "{ 'itemId':' " + getItemId + "' }",
                success: function (data) {
                    $('#spnCart').html(data)
                },
                error: function (data) {
                    alert(data);
                }
            });
        });
    });
</script>