﻿<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Test Auto Pte Ltd</title>
       
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/headerCss")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

</head>

<body>
        @Html.Partial("~/Views/Shared/_TopBar.cshtml")
        <div id="all">
            @RenderBody()
            <hr />
            @Html.Partial("~/Views/Shared/_BottomBar.cshtml")
        </div>
        <div class="flyout">@Html.Partial("~/Views/ShoppingCart/_CartItem.cshtml")</div>
</body>
    @Scripts.Render("~/bundles/jqueryFileUpload")
    @Scripts.Render("~/bundles/header")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gallery")
    @RenderSection("scripts", required: false)
        
</html>

<script src="~/Scripts/spin.min.js"></script>
<script src="~/Scripts/ladda.min.js"></script>
<script src="~/Scripts/megamenu.js"></script>
<script src="~/Scripts/responsiveslides.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.flexisel.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function () {

        $(".megamenu").megamenu(); 

        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                pager: false,
            });
        });

        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop().fadeIn("fast");
            },
            function () {
                $('.dropdown-menu', this).stop().fadeOut("fast");
            });
                     

        $('.divAddCart').on('click', function (e) {
            
            var getItemId = $(this).attr('id');
            //var getUserName = $('.divName').html();
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: 'ShoppingCart/AddCart',
                data: "{ 'itemId':' " + getItemId + "' }",
                success: function (data) {
                    $('#spnCart').html(data);
                    location.reload(true);
                    return false;
                },
                
                error: function (data) {
                    alert(data);
                }
            
                
            });

            // it is important to return false in order to 
            // cancel the default submission of the form
            // and perform the AJAX call
            return false;

        });
                                             
        $("#spnCart").mouseenter(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/ShoppingCart/GetCartItems',

                success: function (data) {
                    $('#exampleModal').html(data);
                    $('.basketItems').css('visibility', 'visible');
                    
                },
                error: function (data) {
                    alert(data);
                }
            });
            // it is important to return false in order to 
            // cancel the default submission of the form
            // and perform the AJAX call
            return false;
        });

        $(document).delegate('.cartClose', 'click', function (e) {
            $('.basketItems').css('visibility', 'hidden');
        });
               
        $(document).delegate('.cartDel', 'click', function (e) {
            
            var DeleteItem = parseInt($(this).closest('button').prop('id'));
            
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/ShoppingCart/DeleteCart',
                data: "{ 'itemId':' " + DeleteItem + "' }",
                success: function (data) {
                    $('#exampleModal').html(data).fadeOut();
                    location.reload(true);
                },
                error: function (data) {
                    alert(data);
                }
            });
            // it is important to return false in order to 
            // cancel the default submission of the form
            // and perform the AJAX call
            return false;
        });

    });

    // Bind normal buttons
    Ladda.bind('button', { timeout: 2000 });

    // Bind progress buttons and simulate loading progress
    Ladda.bind('button', {
        callback: function (instance) {
            var progress = 0;
            var interval = setInterval(function () {
                progress = Math.min(progress + Math.random() * 0.1, 1);
                instance.setProgress(progress);

                if (progress === 1) {
                    instance.stop();
                    clearInterval(interval);
                }
            }, 200);
        }
    });

    $("#productSlider").flexisel({
                   visibleItems: 6,
                   animationSpeed: 1000,
                   autoPlay: true,
                   autoPlaySpeed: 3000,
                   pauseOnHover: true,
                   enableResponsiveBreakpoints: true,
                   responsiveBreakpoints: {
                   portrait: {
                                   changePoint: 480,
                                   visibleItems: 1
                               },
                   landscape: {
                                   changePoint: 640,
                                   visibleItems: 2
                               },
                   tablet: {
                                   changePoint: 768,
                                   visibleItems: 3
                               }
                           }
                       });

        $("#menu-toggle").hover(function () {
            $('.flyout').show();
        }, function () {
            //$('.flyout').hide();
        });

    </script>
