﻿@using Microsoft.AspNet.Identity

   @if (Request.IsAuthenticated)
    {

        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
        <ul class="menu">
            <li>
                @Html.Label("", "Hello : " + User.Identity.GetUserName())
            </li>
            @if (User.IsInRole("User")) {
            <li>
                
                @Html.ActionLink("My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                
            </li>
            }
            @if (User.IsInRole("Administrator")) {
            <li>
                
                @Html.ActionLink("Admin Panel", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Manage" })
                
            </li>
            }
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
        }
    }
   else
   {
        
            <ul class="menu">
                <li><i class="fa fa-envelope">&nbsp;</i>@Html.ActionLink("CONTACT", "", "", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li><i class="fa fa-user">&nbsp;</i>@Html.ActionLink("LOG IN", "UserRegistration", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        
   }


