﻿<!-- *** TOPBAR ***
 _________________________________________________________ -->
<div class="header_top">
    <div class="container">
        <div class="header_top-box">
           
            <div class="cssmenu">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            <li><a href="@Url.Action("Index","Admin")">Admin Panel</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index","Manage")">My Account</a></li>
                        }
                    }
                    
                    <li><a href="#">Wishlist</a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            <li class="active"><a href="@Url.Action("Index", "Admin")">Hello : @User.Identity.Name </a></li>
                        }
                        else
                        {
                            <li class="active"><a href="@Url.Action("Index", "Manage")">Hello : @User.Identity.Name </a></li>
                        }
                        
                        <li class="active"><a href="@Url.Action("LogOffUserPanel", "Account")">Log Out </a></li>

                    }
                    else
                    {
                        <li><a href="@Url.Action("UserRegistration", "Account")">Login</a></li>
                        <li><a href="@Url.Action("UserRegistration", "Account")">Sign Up</a></li>
                    }
                </ul>
            </div>
            
        </div>
    </div>
</div>
<div class="header_bottom">
    <div class="container">
        <div class="header_bottom-box">
            <div class="header_bottom_left">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/img/jlanka-logo.png" alt="" /></a>
                </div>
                <ul class="clock">
                    <li><i class="clock_icon"> </i></li>
                    <li class="clock_desc">0112 000 0000</li>
                </ul>
                
            </div>
            <div class="header_bottom_right">
                <div class="search">
                    <input type="text" value="">
                    <input type="submit" value="">
                </div>
                <ul class="bag">
                    @*<li><a id="cd-cart-trigger" class="cd-img-replace" href="#0"><i class="bag_left"> </i></a></li>*@
                    <li>
                    <a id="menu-toggle" class="cd-img-replace" href="#menu-toggle"><i class="bag_left"> </i></a>
                    </li>
                    <li class="bag_right">
                        <p>205.00 Rs</p>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</div>

<div class="menu">
    <div class="container">
        <div class="menu_box">
            <ul class="megamenu skyblue">
                <li class="active grid"><a class="color2" href="index.html">Home</a></li>
                <li><a class="color4" href="#">Special</a></li>
                <li>
                    <a class="color10" href="#">Categories</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Kids</h4>
                                    <ul>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Elders</h4>
                                    <ul>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="h_nav">
                                    <h4>Trends</h4>
                                    <ul>
                                        <li>
                                            <div class="p_left">
                                                <img src="~/images/t1.jpg" class="img-responsive" alt="" />
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Test</a></h4>
                                                <span class="item-cat"><small><a href="#">Chocolate</a></small></span>
                                                <span class="price">29.99 Rs</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/t2.jpg" class="img-responsive" alt="" />
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Test</a></h4>
                                                <span class="item-cat"><small><a href="#">Chocolate</a></small></span>
                                                <span class="price">29.99 Rs</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/t3.jpg" class="img-responsive" alt="" />
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Test</a></h4>
                                                <span class="item-cat"><small><a href="#">Chocolate</a></small></span>
                                                <span class="price">29.99 Rs</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a class="color3" href="404.html">New Arrivals</a></li>
                <li>
                    <a class="color7" href="#">Gifts</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Kids</h4>
                                    <ul>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Elders</h4>
                                    <ul>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                        <li><a href="#">Test</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="h_nav">
                                    <h4>Trends</h4>
                                    <ul>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/t1.jpg" class="img-responsive" alt="" />
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Test</a></h4>
                                                <span class="item-cat"><small><a href="#">Chocolate</a></small></span>
                                                <span class="price">29.99 Rs</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/t2.jpg" class="img-responsive" alt="" />
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Test</a></h4>
                                                <span class="item-cat"><small><a href="#">Chocolate</a></small></span>
                                                <span class="price">29.99 Rs</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/t3.jpg" class="img-responsive" alt="" />
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Test</a></h4>
                                                <span class="item-cat"><small><a href="#">Chocolate</a></small></span>
                                                <span class="price">29.99 Rs</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a class="color8" href="blog.html">Blog</a></li>              
            </ul>
        </div>
    </div>
</div>

