﻿@{
    ViewBag.Title = "AuthorizeFailed";
}

<div id="content">
    <div class="container">
        <div class="col-md-12">
            <h2>Authorize Failed</h2>
            @ViewData["Message"]
        </div>
    </div>
</div>