﻿@{
    ViewBag.Title = "Email Confirmation";
}

<div id="content">
    <div class="container">
        <div class="col-md-12">
            <h2>Please confirm your email address and log in again..!</h2>
        </div>
    </div>
</div>