﻿<!-- *** FOOTER ***
 _________________________________________________________ -->
    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Who We Are</h4>

                    <ul>
                        <li>
                            <a href="text.html">About us</a>
                        </li>
                        <li>
                            <a href="text.html">Terms and conditions</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact us</a>
                        </li>
                    </ul>

                    <hr>

                    <h4>User section</h4>

                    <ul>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                        </li>
                        <li>
                            <a href="#">Regiter</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Top categories</h4>

                    <h5>Car</h5>

                    <ul>
                        <li>
                            <a href="#">Used</a>
                        </li>
                        <li>
                            <a href="#">New</a>
                        </li>
                        <li>
                            <a href="#">Accessories</a>
                        </li>
                    </ul>

                    <h5>Other Vehicles</h5>
                    <ul>
                        <li>
                            <a href="#">Used</a>
                        </li>
                        <li>
                            <a href="#">New</a>
                        </li>
                        <li>
                            <a href="#">Accessories</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Where to find us</h4>

                    <p>
                        <strong>JLanka Auto Pvt Ltd.</strong>
                        <br>Malabe
                        <br>Kaduwela
                        <br>101110
                        <br>Colombo
                        <br>
                        <strong>Sri Lanka</strong>
                    </p>

                    <a href="#">Go to contact page</a>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">



                    <h4>Stay in touch</h4>

                    <p class="social">
                        <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                    </p>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->
    <!-- *** FOOTER END *** -->

    <div id="copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="pull-left">© @DateTime.Now.Year JLanka Auto Pvt Ltd.</p>

            </div>
            <div class="col-md-6">
                <p class="pull-right">
                    Web Design and Developed by <a href="http://www.theictworld.com">The ICT World</a>
                </p>
            </div>
        </div>
    </div>

<!-- /#content -->