﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Test Auto Pte Ltd</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Linkfonts")

    
</head>
<body>
    @Html.Partial("~/Views/Shared/_TopBar.cshtml")
    <div id="all">
        @RenderBody()
        <hr />
        @Html.Partial("~/Views/Shared/_BottomBar.cshtml")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#modal-content').modal('show').success(function () {
            alert('fff');
        });
    });
</script>