﻿@using Microsoft.AspNet.Identity

   @if (Request.IsAuthenticated)
    {

        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
        <ul class="menu">
            <li>
                @Html.Label("", "Hello : " + User.Identity.GetUserName())
            </li>
            <li>
                @Html.ActionLink("My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
        }
    }
   else
   {
        <ul class="menu">
            <li>@Html.ActionLink("Register", "UserRegistration", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "UserRegistration", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
   }


