﻿<!-- *** TOPBAR ***
 _________________________________________________________ -->
<div id="top">
    <div class="container">

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-search"></i>&nbsp;&nbsp;Search Your Dream Vehicle on Live Auction</h4>
                    </div>
                    <div class="modal-body">
                        <object type="text/html" data="http://jpnauction.com/aj_neo?classic" onclick="open('http://jpnauction.com/aj_neo?classic')" width="900px" height="600px" style="overflow:visible; padding-top:-60px;"></object>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-6 offer" data-animate="fadeInDown">
            <a href="#" id="bootpopup" class="btn btn-success btn-sm " data-toggle="modal" data-target="#myModal">Search Your Dream Vehicle</a>  <a href="#">More than 4000 vehicles on sale</a>
        </div>
        <div class="col-md-6" data-animate="fadeInDown">
            
                
             @Html.Partial("_LoginPartial")
               
            
        </div>
    </div>
   

</div>

<!-- *** TOP BAR END *** -->

<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand home" href="@Url.Action("Index", "Home")">
                <img src="../img/jlanka-logo.png" alt="M Auto logo" class="hidden-xs">
                <img src="../img/jlanka-logo.png" alt="M Auto logo" class="visible-xs"><span class="sr-only"> M Auto PVT Ltd- go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>

            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li class="active">
                    <a href="index.html">Home</a>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Buying<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5>Help Me Choose</h5>
                                        <ul>
                                            <li>
                                                <a href="#">Car</a>
                                            </li>
                                            <li>
                                                <a href="#">Van</a>
                                            </li>
                                            <li>
                                                <a href="#">Lorry</a>
                                            </li>
                                            <li>
                                                <a href="#">Other Vehicles</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>I know What Car I Want</h5>
                                        <ul>
                                            <li>
                                                <a href="#">Go to Live Auction</a>
                                            </li>

                                            <li>
                                                <a href="#">Our Stock</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3">
                                        <h5>Featured</h5>
                                        <ul>
                                            <li>
                                                <a href="#">Sale</a>
                                            </li>
                                            <li>
                                                <a href="#">New Arrivals</a>
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="../img/banner.jpg" class="img img-responsive" alt="">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>

                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Reviews and More<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5>Latest Reviews Advices</h5>
                                        <ul>
                                            <li>
                                                <a href="#">Read Advice</a>
                                            </li>
                                            <li>
                                                <a href="#">Latest News</a>
                                            </li>
                                            <li>
                                                <a href="#">Owner Reviews</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Free Services</h5>
                                        <ul>
                                            <li>
                                                <a href="#">Car Valuations</a>
                                            </li>
                                            <li>
                                                <a href="#">How to select a model</a>
                                            </li>
                                            <li>
                                                <a href="#">how to sell your car</a>
                                            </li>
                                            <li>
                                                <a href="#">leasing facilities</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="../img/banner.jpg" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                        <div class="banner">
                                            <a href="#">
                                                <img src="../img/banner2.jpg" class="img img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>

                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200"> Know How <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5>Information</h5>
                                        <ul>
                                            <li>
                                                <a href="#">News</a>
                                            </li>
                                            <li>
                                                <a href="#">Articles</a>
                                            </li>
                                            <li>
                                                <a href="#">Guides</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>How To Order</h5>
                                        <ul>
                                            <li>
                                                <a href="#">How to Open a LC</a>
                                            </li>
                                            <li>
                                                <a href="#">Documents Needed</a>
                                            </li>
                                            <li>
                                                <a href="#">How to Find a Dealer</a>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="col-sm-3">
                                        <h5>Extra Information</h5>
                                        <ul>
                                            <li>
                                                <a href="blog.html">Blog listing</a>
                                            </li>
                                            <li>
                                                <a href="post.html">Blog Post</a>
                                            </li>
                                            <li>
                                                <a href="faq.html">FAQ</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons">

            <!--/.nav-collapse -->

            <div class="navbar-collapse collapse right" id="search-not-mobile">
                <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
            </div>

        </div>

        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                    </span>
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->
