﻿@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using RoleBasedAppAccess.Models
@model LoginOrRegisterViewModel

<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>New account / Sign in</li>
            </ul>

        </div>

        <div class="col-md-6">
            <div class="box">
                <h3>New account</h3>

                <p class="lead">Not our registered customer yet?</p>
                @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>*@
                <p class="text-muted">If you have any questions, please feel free to <a href="#">contact us</a>, our customer service center is working for you 24/7.</p>

                <hr>
                @using (Html.BeginForm("UserRegistration", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    
                    @Html.AntiForgeryToken()
                    
                    <div class="form-group">
                        @Html.LabelFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).FirstName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).FirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).LastName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).RegisterPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).RegisterPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).RegisterPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).ConfirmPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).ConfirmPassword)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).RegisterEmail, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).RegisterEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => ((RoleBasedAppAccess.Models.RegisterViewModel)(model.RegisterModel)).RegisterEmail)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" class="btn btn-primary" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <h3>Login</h3>

                <p class="lead">Already our customer?</p>
                @*<p class="text-muted">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>*@

                <hr>
                @using (Html.BeginForm("LoginUser", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                         @Html.LabelFor(model => ((RoleBasedAppAccess.Models.LoginViewModel)(model.LogOnModel)).LoginEmail, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => ((RoleBasedAppAccess.Models.LoginViewModel)(model.LogOnModel)).LoginEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => ((RoleBasedAppAccess.Models.LoginViewModel)(model.LogOnModel)).LoginEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => ((RoleBasedAppAccess.Models.LoginViewModel)(model.LogOnModel)).LoginPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => ((RoleBasedAppAccess.Models.LoginViewModel)(model.LogOnModel)).LoginPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => ((RoleBasedAppAccess.Models.LoginViewModel)(model.LogOnModel)).LoginPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => ((RoleBasedAppAccess.Models.LoginViewModel)(model.LogOnModel)).RememberMe)
                                @Html.LabelFor(model => ((RoleBasedAppAccess.Models.LoginViewModel)(model.LogOnModel)).RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </div>
                    </div>

                }
            </div>
        </div>


    </div>
    <!-- /.container -->
</div>
<!-- /#content -->


