﻿@{
    ViewBag.Title = "Home Page";
}

<div id="content">

    <div class="container">

        <div class="col-md-4">
            <!-- *** MENUS AND FILTERS ***
            ________________________________________________________ -->
            <div class="panel panel-default sidebar-menu" data-animate="fadeInDown">

                <div class="panel-heading">
                    <h3 class="panel-title">Find Vehicle Import Cost</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="radios">Condition</label>
                            <div class="col-md-8">
                                <label class="radio-inline" for="radios-0">
                                    <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                                    Used
                                </label>
                                <label class="radio-inline" for="radios-1">
                                    <input type="radio" name="radios" id="radios-1" value="2">
                                    New
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">Make</label>
                            <div class="col-md-8">
                                <select id="selectbasic" name="selectbasic" class="form-control">
                                    <option value="1">Make(Any)</option>
                                    <option value="2">Corolla Axio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">Model</label>
                            <div class="col-md-8">
                                <select id="selectbasic" name="selectbasic" class="form-control">
                                    <option value="1">Model(Any)</option>
                                    <option value="2">Toyota</option>
                                    <option value="3">Nissan</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">Max Price</label>
                            <div class="col-md-8">
                                <select id="selectbasic" name="selectbasic" class="form-control">
                                    <option value="1">1000000</option>
                                    <option value="2">2000000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">Min Price</label>
                            <div class="col-md-8">
                                <select id="selectbasic" name="selectbasic" class="form-control">
                                    <option value="1">100000</option>
                                    <option value="2">150000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="btnsearch"></label>
                            <div class="col-md-8">
                                <button id="btnsearch" name="btnsearch" class="btn btn-info">Search</button>
                                <button id="btnclear" name="btnclear" class="btn btn-danger">Reset</button>
                            </div>
                        </div>
                    </div>

                    </div>
            </div>


        </div>

        <div class="col-md-8">
            <div id="main-slider" data-animate="fadeInUpBig">
                <div class="item">
                    <img src="img/main-slider1.jpg" alt="" class="img-responsive">
                </div>
                <div class="item">
                    <img class="img-responsive" src="img/main-slider2.jpg" alt="">
                </div>
                <!--<div class="item">
                    <img class="img-responsive" src="img/main-slider1.jpg" alt="">
                </div>-->
                <!--<div class="item">
                    <img class="img-responsive" src="img/main-slider4.jpg" alt="">
                </div>-->
            </div>
        </div>

    </div>
    <!-- *** ADVANTAGES HOMEPAGE ***
    _________________________________________________________ -->
    <div id="advantages">

        <div class="container">
            <div class="same-height-row">
                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon">
                            <i class="fa fa-heart"></i>
                        </div>

                        <h3><a href="#">We love our customers</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon">
                            <i class="fa fa-tags"></i>
                        </div>

                        <h3><a href="#">Best prices</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon">
                            <i class="fa fa-thumbs-up"></i>
                        </div>

                        <h3><a href="#">100% satisfaction guaranteed</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#advantages -->
    <!-- *** ADVANTAGES END *** -->
    <!-- *** HOT PRODUCT SLIDESHOW ***
    _________________________________________________________ -->
    <div id="hot">

        <div class="box">
            <div class="container">
                <div class="col-md-12">
                    <h2>Hot this Month</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="product-slider">
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="#">BMW S001</a></h3>
                            <p class="price">Rs 14.3 M</p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>

                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="img/product2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="img/product2.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="#">BMW S001</a></h3>
                            <p class="price">Rs 14.3 M</p>
                        </div>
                        <!-- /.text -->

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>

                    </div>
                    <!-- /.product -->
                </div>

                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="img/product3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="img/product3.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="#">BMW S001</a></h3>
                            <p class="price">Rs 14.3 M</p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>

                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="img/product3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="img/product3.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="#">BMW S001</a></h3>
                            <p class="price">Rs 14.3 M</p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>

                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="img/product2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="img/product2.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="#">BMW S001</a></h3>
                            <p class="price">Rs 14.3 M</p>
                        </div>
                        <!-- /.text -->

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    </div>
                    <!-- /.product -->
                </div>

                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="img/product1.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="img/product1.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="#">BMW S001</a></h3>
                            <p class="price">Rs 14.3 M</p>
                        </div>
                        <!-- /.text -->



                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.col-md-4 -->

                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="img/product2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="img/product2.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="#">BMW S001</a></h3>
                            <p class="price">Rs 14.3 M</p>
                        </div>
                        <!-- /.text -->


                    </div>
                    <!-- /.product -->
                </div>

                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="#">
                                        <img src="img/product3.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="invisible">
                            <img src="img/product3.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="#">BMW S001</a></h3>
                            <p class="price">Rs 14.3 M</p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>

            </div>
            <!-- /.product-slider -->
        </div>
        <!-- /.container -->

    </div>
    <!-- /#hot -->
    <!-- *** HOT END *** -->


</div>

